# Diretórios de build do Maven ou Gradle
target/
build/

# Diretórios temporários específicos do Quarkus
.quarkus/

# Arquivos gerados pelo Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Dependências e caches do Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Arquivos de log
*.log

# Arquivos de propriedades e configuração locais
*.properties
*.env
.envrc

# Configurações de IDEs
*.iml
.idea/
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de controle de versão local (Git)
.git/
.gitignore
.gitattributes

# Arquivos JARs, WARs, e EARs gerados pelo projeto
*.jar
*.war
*.ear

# Arquivos temporários do sistema
*.swp
*.swo

